/* 
    flex : flexible  Layout
    grid : fixed Layout
*/

section{
    background-color: slateblue;
    height: 600px;
    display: grid;

    /* grid-template-columns: auto; */
    /* grid-template-columns: 100px; */
    /* grid-template-columns: 100px 300px; */

    /* grid-template-columns: auto auto auto; */


    /* grid-template-columns: 1fr; */
    /* 
    1fr = 100%/total no of fr = 100%/1  = 100%
    */
    /* grid-template-columns: 1fr 1fr; */
    /* 
    1fr = 100%/total no of fr = 100%/2  = 50%
    */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* 
        1fr = 100%/total no of fr = 100%/4  = 25%
    */
    grid-template-columns: 1fr 2fr 3fr 1fr;

    /* grid-template-rows: auto 100px; */
    /* grid-template-rows: 100px 150px 200px 50px 100px; */
    grid-template-rows: 1fr 2fr 1.5fr 1fr;

    grid-template-areas: 
    "a a a d"
    "e f f d"
    "e f f d"
    "b b c d";

    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px 30px;
}
.box1{
    background-color: darkblue;
    grid-area: a;
}
.box2{
    background-color: darkgoldenrod;
    grid-area: b;
}
.box3{
    background-color: darkgreen;
    grid-area: c;
}
.box4{
    background-color: darkmagenta;
    grid-area: d;
}
.box5{
    background-color: darkred;
    grid-area: e;
}
.box6{
    background-color: darksalmon;
    grid-area: f;
}